body{
    background: #000000;
}

.vox-avater-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.vox-avater-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}